.table {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 90vh;
  border-radius: 5px;
  border: 1px solid var(--lite-grey);
}

.table-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header__open-modal {
  margin-right: 10px;
  align-items: flex-end;
}

.table-header__open-modal__arr {
  transition: all .2s;
}

.table-header__open-modal__arr.open {
  transform: rotate(180deg) translate(-3px, -2px);
  transition: all .2s;
}

.table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  color: var(--grey);
}

.table-body__row {
  display: flex;
}

.table__names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-simple);
}

.table__names__input {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  border: 1px solid var(--lite-grey);
  padding: 10px;
}

.table__names__inner {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 38px;
  width: 100%;
}

.table__names__text {
  padding: 0;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
}

.table__names:not(:has(.table__names__text)) {
  display: none;
}

.table__names-wrap {
  display: flex;
  position: sticky;
  top: 0px;
  background: var(--white-simple);
}

.table-body__row__cell,
.table__names {
  width: 200px;
  min-width: 200px;
  border-right: 1px solid var(--lite-grey);
  border-bottom: 1px solid var(--lite-grey);
  padding: 10px;
  word-wrap: break-word;
  text-align: left;
}

.title {
  padding: 10px;
  margin: 0;
}

.table-pagination {
  width: 100%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.table-pagination__item-buttons {
  display: flex;
  gap: 10px;
}

.table-pagination__item__label {
  margin-right: 10px;
}

.table__names__arrow {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding-bottom: 2px;
}

.table__names__arrow.default {
  visibility: hidden;
  opacity: 0;
}

.table__names__arrow.desc {
  transform: rotate(180deg) translate(-3px, -2px);
  transition: all .2s;
}

@media (max-width: 560px) {
  .table-pagination {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 20px;
  }

  .btn {
    padding: 6px 10px;
  }
}

@media (max-width: 360px) {
  .table-header {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .table-pagination {
    margin-left: 5px;
  }

  .table__names__input {
    margin-left: 10px;
    max-width: 200px;
  }

  .table-header__open-modal {
    margin-left: 10px;
  }
}
