.modal-add-edit__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 30px;
}

.modal-add-edit__form__input {
  height: 22px;
  width: 100%;
  max-width: 338px;
  padding: 15px;
  border: 1px solid var(--lite-grey);
  border-radius: 5px;
}

.modal-add-edit__form__input::placeholder {
  color: var(--lite-grey);
}

.modal-add-edit__form__input:focus-visible {
  border: 1px solid var(--blue-default);
  outline: none;
}

.modal-add-edit__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.input-filled {
  border: 1px solid var(--grey);
  color: var(--grey);
}

.input-failed {
  border: 1px solid var(--red);
  color: var(--grey);
}
