$white-simple: #ffffff;
$transparent: transparent;
$grey: #333030;
$red: red;
$black: #000000;
$black-transparent: #00000063;
$very-lite-grey: rgb(237 237 237);
$lite-grey: rgb(213 210 210);
$btn-disabled-grey: rgba(216, 222, 233, 1);
$dark-grey: #1f2327;
$blue-default: rgba(47, 103, 213, 1);
$blue-hover: rgba(60, 124, 248, 1); /* btn hover */
$blue-dark: rgba(25, 78, 182, 1); /* btn pressed */
$blue-dark-for-icons: rgba(48, 72, 121, 1);
$main-background: rgba(233, 243, 255, 1);
$ceil-hover: rgba(143, 175, 255, 0.103);
$box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
