:root {
  --white-simple: #ffffff;
  --transparent: transparent;
  --grey: #333030;
  --lite-grey: rgb(237 237 237);
  --dark-grey: #1f2327;
  --box-shadow: 1px 2px 8px 2px rgba(34, 60, 80, 0.12);
  --blue-default: rgba(47, 127, 213, 1);
  --blue-hover: rgba(60, 124, 248, 1); /* btn hover */
  --blue-dark: rgba(25, 78, 182, 1); /* btn pressed */
  --main-background: rgba(233, 243, 255, 1);
}

@font-face {
  font-family: roboto-bold;
  src: url(./assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(./assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(./assets/fonts/roboto/Roboto-Light.ttf);
}

body {
  box-sizing: border-box;
  font-family: roboto-regular;
  overflow: hidden;
  background-color: var(--main-background);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 16px 0 16px;
  gap: 10px;
  overflow: hidden;
}

.title {
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: -0.055rem;
  font-weight: normal;
}

.title-blue {
  color: var(--blue-default);
}

.title-blue-dark {
  color: var(--blue-dark);
}

.img {
  width: 100%;
  height: 100%;
  max-height: 34rem;
}

.btn {
  width: 100%;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11.5px 16px;
  background: var(--white-simple);
  border: 1px solid var(--dark-grey);
  border-radius: 24px;
  cursor: pointer;
  transition: all .2s;
}

.i {
  font-style: normal;
}

.btn-blue {
  background-color: var(--blue-default);
}

.btn-blue:hover {
  background-color: var(--blue-hover);
}

.btn:hover {
  color: var(--white-simple);
  background: var(--dark-grey);
  transition: all .2s;
}

.btn:disabled {
  cursor: default;
  border: 1px solid var(--lite-grey);
}
