:root {
  --white-simple: #ffffff;
  --transparent: transparent;
  --grey: #333030;
  --black: #000000;
  --black-transparent: #00000063;
  --very-lite-grey: rgb(237 237 237);
  --lite-grey: rgb(213 210 210);
  --btn-disabled-grey: rgba(216, 222, 233, 1);
  --dark-grey: #1f2327;
  --box-shadow: 1px 2px 8px 2px rgba(34, 60, 80, 0.12);
  --blue-default: rgba(47, 103, 213, 1);
  --blue-hover: rgba(60, 124, 248, 1); /* btn hover */
  --blue-dark: rgba(25, 78, 182, 1); /* btn pressed */
  --blue-dark-for-icons: rgba(48, 72, 121, 1);
  --main-background: rgba(233, 243, 255, 1);
  --ceil-hover: rgba(143, 175, 255, 0.103);
}

@font-face {
  font-family: roboto-bold;
  src: url(./assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(./assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(./assets/fonts/roboto/Roboto-Light.ttf);
}

body {
  box-sizing: border-box;
  font-family: roboto-regular;
  overflow: hidden;
  background-color: var(--main-background);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 16px 0 16px;
  gap: 10px;
  overflow: hidden;
}

.title {
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: -0.055rem;
  font-weight: normal;
}

.title-blue {
  color: var(--blue-default);
}

.title-blue-dark {
  color: var(--blue-dark);
}

.img {
  width: 100%;
  height: 100%;
  max-height: 34rem;
}

.btn {
  width: 100%;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11.5px 16px;
  background: var(--white-simple);
  border: 1px solid var(--dark-grey);
  border-radius: 24px;
  cursor: pointer;
  transition: all .2s;
}

.btn.btn-none {
  background: var(--transparent);
  border: none;
}

.btn-blue {
  border: none;
  color: var(--white-simple);
  background-color: var(--blue-default);
}

.btn-blue:hover {
  background-color: var(--blue-hover);
}

.btn:hover {
  transition: all .2s;
}

.btn.btn-none:hover {
  background: var(--main-background);
  transition: all .2s;
}

.btn:disabled {
  cursor: default;
  border: 1px solid var(--very-lite-grey);
  color: var(--white-simple);
  background: var(--btn-disabled-grey);
}

.btn.icon {
  position: relative;
  width: 100%;
  max-width: 45px;
  padding: 10px;
  cursor: pointer;
  transition: all .2s;
}

.btn.icon:hover {
  background: var(--white-simple);
}

.btn.icon:not(.icon-disabled):hover::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--ceil-hover);
  transition: all .2s;
}

.icon svg {
  cursor: pointer;
  fill: var(--blue-dark-for-icons);
}

.btn.icon-disabled {
  cursor: not-allowed;
}

.icon-disabled svg {
  cursor: not-allowed;
  fill: var(--very-lite-grey);
}

.i {
  font-style: normal;
}

.i:hover {
  color: var(--blue-default);
  text-decoration: underline;
}

.link {
  color: var(--black);
  text-decoration: none;
}
